/* Importation de la police Montserrat depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Réinitialisation des styles par défaut et configuration des styles de base pour la page */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

/* Styles pour le logo de l'en-tête */
.header-logo {
    display: inline-block;
    width: 90%;
    padding: 10px 30px;
}

/* Styles pour le lien du logo de l'en-tête */
.header-logo a {
    text-decoration: none;
    color: #005a48;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styles pour le conteneur de navigation */
.nav {
    display: inline-block;
    width: 90%;
}

/* Styles pour le conteneur des éléments de navigation */
.nav-items {
    display: inline-block;
    width: calc(70% - 100px);
    vertical-align: middle;
    text-align: center;
}

/* Styles pour les éléments individuels de navigation */
.nav-item {
    display: inline-block;
    margin: 0px 10px;
}

/* Styles pour les liens des éléments de navigation */
.nav-item a {
    text-decoration: none;
    color: #005a48;
    font-weight: 600;
}

/* Styles pour le conteneur de recherche dans la navigation */
.nav-search {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;
}

/* Styles pour le conteneur de saisie de recherche */
.nav-search__el {
    background: #c5c5c5;
    width: 40%;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

/* Styles pour le champ de saisie de recherche */
.search-input {
    background: #c5c5c5;
    border: none;
    flex-basis: 60%;
    outline: none;
}

/* Styles pour l'icône de recherche dans le conteneur de recherche */
.nav-search__el i {
    flex-basis: 40%;
}