/* Importation de la police Montserrat depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Réinitialisation des marges et des espacements par défaut, définition de la boîte et de la couleur de fond */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}



/* Style de l'en-tête */
header {
    background-color: #222222;
    position: relative;
    height: 80px;
    top: 0;
}

header>* {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px 0 10px;
}

header img {
    padding-top: 30px;
    width: 120px;
}

header>ul {
    right: 0;
    text-decoration: none;
}

header,
header a {
    color: white;
    text-decoration: none;
}

header a:nth-child(2) {
    font-size: 16px;
    margin-left: 100px;
}

header>ul li:not(.sous-nav) {
    margin: 10px;
    font-weight: 600;
    display: inline-block;
    list-style: none;
    transition: background-color 0, 5s ease-in-out;
}

header>ul li a:hover {
    color: #fff;
}



/* Style du sous-menu de navigation */
.sous-nav {
    z-index: 3;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: -22px;
    background: #222222;
    flex-direction: column;
    width: 160px;
    padding: 25px 0;
    text-align: left;
}

.sous-nav li {
    margin: 10px 0;
}

.sous-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.2s ease-in-out;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.sous-nav a span {
    display: inline-block;
    width: 100%;
}

.sous-nav a:hover span {
    color: #fff;
}

.sous-nav a:hover {
    background-color: #036D19;
    border-radius: 5px;
}

.has-sous-nav {
    position: relative;
}

.has-sous-nav:hover .sous-nav {
    display: flex;
    position: absolute;
}

.has-sous-nav:not(:hover) .sous-nav {
    display: none;
}


.separator {
    height: 3px;
    background-color: #036D19;
    width: 100%;
    margin: 30px 0;
}



.page-main {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: #f5f5f5;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
    margin-top: 30px;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;

}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form-txt {
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    width: 70%;
}


.contact-form-txt::placeholder {
    color: #aaa;
}

.contact-form-textarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    resize: vertical;
}

.contact-form-textarea::placeholder {
    color: #aaa;
}

.contact-form-btn {
    width: 70%;
    margin-left: auto;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #036D19;
    color: #000000;
}

.contact-form-btn:hover {
    background-color: #036D19;
    border: 1px solid #036D19;
    color: #fff;
    transition: all ease 0.3s;
}





.alert-danger {
    padding: 10px;
    width: auto;
    max-width: 600px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 5px;
    text-align: center;
}

.alert-success {
    padding: 10px;
    width: auto;
    max-width: 600px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 5px;
    text-align: center;
}





/* Style du pied de page */
.parent{
    position: relative;
}

footer {

    position: absolute;
    height: 150px;
    width: 100%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

footer img {
    margin-top: 10px;
    width: 100px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

footer h2 {
    padding-bottom: 20px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}





/* Style du chargement */
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #222222;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loader p {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

body.loaded {
    overflow: auto;
}

.loader p::after {
    content: '';
    animation: dots 1.5s infinite;
}

@keyframes dots {

    0%,
    20% {
        content: '.';
    }

    40% {
        content: '..';
    }

    60% {
        content: '...';
    }

    80%,
    100% {
        content: '';
    }
}


@media screen and (max-width: 1100px) {
    .bienvenue>img {
        width: 300px;
    }

    .texte p {
        font-size: 16px;
    }

    .texte h1 {
        font-size: 20px;
    }

    .bienvenue {
        margin-bottom: 50px;
    }

    .a-propos {
        margin-bottom: 100px;
    }

    .picture-propos {
        width: 100%;
        height: 300px;
    }

    .picture-propos-text {
        margin: 10px
    }

    .picture-propos-text p {
        font-size: 16px;
    }

    .picture-propos-text h2 {
        font-size: 20px;
    }


    .title-category {
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    .bienvenue {
        display: flex;
        flex-direction: column;
    }

    .bienvenue>.texte {
        width: initial;
    }


    input,
    textarea,
    label,
    .commentaire-text p {
        font-size: 16px;

    }

    .picture-propos-text p,
    .commentaire-text p,
    .texte p {
        font-size: 12px;
    }

    .form-top {
        flex-direction: column;
        width: 100%;
    }

    input:not(input[type="submit"]),
    textarea {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact-in {
        flex-direction: column;
    }

    .contact-map,
    .contact-form {
        width: 100%;
        flex: 100%;
    }

    .contact-form-txt,
    .contact-form-textarea,
    .contact-form-btn {
        width: 100%;
        /* Réinitialiser la largeur à 100% pour les éléments du formulaire */
        margin-left: 0;
        /* Réinitialiser la marge gauche pour les éléments du formulaire */
    }
}